{% extends 'html/base.html' %}
{% block title %} Aboutus {% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron ml-auto mt-5">
    <h4 class="text-center"><i>Online Grocery</h4></i><p><h5>Gone are the days when we had to go the nearest Kirana store and purchase all our grocery necessities. We at KiranaMarket offer you a wide variety of grocery products right at your doorstep without any hassles of long queues. With 21 years of retail store experience at Manakchand & Co, we ensure you the best quality products at the best prices. All you need to do is just three simple steps - Shop , Pay and Relax!</p></h5>
  </div>
</div>
{% endblock %}