<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
<body>
</div>
<div class="container">
	<div class="row mt-2">
		<div class="card col-md col-sm mx-2 my-2" style="background-color: #adebad">
			<h2 class="bg-success text-center text-white border rounded mt-2 p-2">Total Customer</h2>
			<div class="jumbtron">
				<h3 class="text-center" style="font-size: 100px">{{customercount}}</h3>
			</div>
		</div>

		<div class="card col-md col-sm mx-2 my-2" style="background-color: #adebad">
			<h2 class="bg-success text-center text-white border rounded mt-2 p-2">Total Product</h2>
			<div class="jumbtron">
				<h3 class="text-center" style="font-size: 100px">{{productcount}}</h3>
			</div>
		</div>

		<div class="card col-md col-sm mx-2 my-2" style="background-color: #adebad">
			<h2 class="bg-success text-center text-white border rounded mt-2 p-2">Total Orders</h2>
			<div class="jumbtron">
				<h3 class="text-center" style="font-size: 100px">{{ordercount}}</h3>
			</div>
		</div>
<br><br>
</body>
</html>





<!-- 
<h3>{{customercount}}</h3>
          <h4>Total Customer</h4>

<h3>{{productcount}}</h3>
          <h4>Total Product</h4>

<h3>{{ordercount}}</h3>
          <h4>Total Orders</h4> -->